@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light;
}

body {
  margin: 0;
  background: #f8fafc;
  color: #0f172a;
}

.font-sora {
  font-family: var(--font-sora), sans-serif;
}

.font-body {
  font-family: var(--font-dm-sans), sans-serif;
}
